.judul {
    color : red;
}

.gambar {
    border: 5px solid black;
}

.dicky1 {
    color : green;
}

.dicky2 {
    font-weight: bold;
}

.dicky3 {
    font-family: Arial, Helvetica, sans-serif;
}